<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retailo</title>
    <style>
      @font-face {
        font-family: arabicFont;
        src: url("https://prod-retailo-images.s3.me-south-1.amazonaws.com/Dubai-Regular.ttf");
      }

      table {
        width: 100%;
        font-size: 12px;
      }

      table td {
        border-color: #92979c;
      }

      h3 {
        padding: 0;
        margin: 0;
      }

      .px-0 {
        padding-left: 0;
        padding-right: 0;
      }

      .table-header {
        background: #92979c;
        color: #fff;
        font-weight: 600;
      }

      .sub-header {
        background: #7b7d82;
        color: #fff;
      }

      .long-table {
        display: block;
        page-break-inside: auto;
      }

      .long-table tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }

      .long-table td {
        page-break-inside: avoid;
        page-break-after: auto;
      }

      td {
        font-family: arabicFont;
      }

      html {
        zoom: 0.7;
      }

    </style>
  </head>

  <body>
    <div style='display:none'><img src='https://prod-retailo-images.s3.me-south-1.amazonaws.com/invoice-header.png' /></div>
    <table border="0" cellpadding="0" cellspacing="0" class="border-none"style="width: 100%; table-layout: fixed; border-collapse: collapse;">
      <tr>
        <td align="center">
          <h2 style="margin: 0px">فاتورة ضريبية<br>Tax Invoice</h2>
          <% if (invoice.isCreditNoteInvoice) { %>
            <h3 style="margin: 0px">Credit Note |  اشعار دائن</h3>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="13" cellspacing="0" class="border-none" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
            <tr>
              <td class="px-0">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                  <td width="30%"><%- invoice.qr %></td>
                  <td width="40%">&nbsp;</td>
                  <td width="30%">
                    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                      <tr>
                        <td align="center"><%= invoice.invoiceNumber %></td>
                        <td align="center">:رقم الفاتورة<br>Invoice ID:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.orderId %></td>
                        <td align="center">:رقم الطلب<br>Order ID:</td>
                      </tr>
                    </table>
                  </td>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-0">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                  <td width="60%">&nbsp;</td>
                  <td width="40%">
                    <table border="1" cellpadding="3" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                      <tr>
                        <td align="center"><%= invoice.issueDate %></td>
                        <td align="center">:تاريخ إصدار الفاتورة<br>Invoice Issue Date:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.supplyDate %></td>
                        <td align="center">:تاريخ التوريد<br>Date of Supply:</td>
                      </tr>
                    </table>
                  </td>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-0">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                  <td width="20%">&nbsp;</td>
                  <td width="80%">
                    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; word-wrap:break-word;">
                      <tr class="sub-header">
                        <td align="center" colspan="2">:بائع<br>Seller:</td>
                        <td align="center" colspan="2">:مشترٍ<br>Buyer:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.seller.name %></td>
                        <td align="center">:الاسم الكامل<br>Full Name:</td>
                        <td align="center"><%= invoice.buyer.name %></td>
                        <td align="center">:الاسم الكامل<br>Full Name:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.seller.businessName %></td>
                        <td align="center">:اسم الشركة<br>Business Name:</td>
                        <td align="center"><%= invoice.buyer.businessName %></td>
                        <td align="center">:اسم الشركة<br>Business Name:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.seller.address %></td>
                        <td align="center">:العنوان الكامل<br>Full Address:</td>
                        <td align="center"><%= invoice.buyer.address %></td>
                        <td align="center">:العنوان الكامل<br>Full Address:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.seller.phone %></td>
                        <td align="center">:رقم الاتصال<br>Contact Number:</td>
                        <td align="center"><%= invoice.buyer.phone %></td>
                        <td align="center">:رقم الاتصال<br>Contact Number:</td>
                      </tr>
                      <tr>
                        <td align="center"><%= invoice.seller.vat %></td>
                        <td align="center">:رقم ضريبة القيمة المضافة<br>VAT Number:</td>
                        <td align="center"><%= invoice.buyer.vat %></td>
                        <td align="center">:رقم ضريبة القيمة المضافة<br>VAT Number:</td>
                      </tr>
                    </table>
                  </td>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-0">
                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                  <td width="100%">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; word-wrap:break-word; border: solid 1px;">
                      <tr class="table-header">
                        <td>
                          <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                            <tr>
                              <td align="center">:توصيف السلعتة أوالخدمتة<br>Line Items:</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr class="sub-header">
                        <td>
                          <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                            <tr>
                              <td align="center" style="width: 17%; border-bottom: 0; border-left: 0;">السعر الإجمالي (شامل لضريبة<br>:(القيمة المضافة<br>Total Price (Incl. VAT):</td>
                              <td align="center" style="width: 13%; border-bottom: 0;">:ضريبة القيمة المضافة<br>VAT:</td>
                              <td align="center" style="width: 18%; border-bottom: 0;">السعر الإجمالي (غير شامل ضريبة<br>:(القيمة المضافة<br>Total Price (Excl. VAT):</td>
                              <td align="center" style="width: 8%; border-bottom: 0;">:الكمية<br>Quantity:</td>
                              <td align="center" style="width: 15%; border-bottom: 0;">:سعر الصنف بدون الضريبة<br>Item Price (Excl. VAT):</td>
                              <td align="center" style="width: 29%; border-bottom: 0; border-right: 0;">:اسم المنتج<br>Item Name:</td>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <% invoice.lineItems.forEach(function(item){ %>
                          <tr>
                            <td>
                              <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                                <tr>
                                  <td align="center" style="width: 17%; border-bottom: 0; border-left: 0;"><%= item.totalPriceWithTax %> SAR</td>
                                  <td align="center" style="width: 13%; border-bottom: 0;"><%= item.taxAmount %> SAR</td>
                                  <td align="center" style="width: 18%; border-bottom: 0;"><%= item.totalPrice %> SAR</td>
                                  <td align="center" style="width: 8%; border-bottom: 0;"><%= item.quantity %></td>
                                  <td align="center" style="width: 15%; border-bottom: 0;"><%= item.basePrice %> SAR</td>
                                  <td align="center" style="width: 29%; border-bottom: 0; border-right: 0;"><%= item.name %></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        <% }); %>
                      </tr>
                    </table>
                  </td>
                </table>
              </td>
            </tr>
            <tr style="page-break-inside:avoid;">
              <td class="px-0">
                <div style="page-break-inside: avoid;">
                  <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                    <td width="55%">&nbsp;</td>
                    <td width="45%">
                      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; word-wrap:break-word; border: solid 1px;">
                        <tr class="table-header">
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center">:إجمالي المبا لغ<br>Order Summary:</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.totalPriceTaxExcl %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;">:(السعر الإجمالي (غير شامل ضريبة القيمة المضافة<br>Total price (Excluding VAT):</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.totalDiscount %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;">:الخصم<br>Discount (-):</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.taxAdjustment %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;">:فرق مبلغ الضريبة بعد الخصم<br>Tax adjustment on discount (+):</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.taxableAmount %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;">:المبلغ الخاضع للضريبة<br>Taxable amount:</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.totalTax %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;">:ضريبة القيمة المضافة<br>VAT:</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse; border: 0;">
                              <tr>
                                <td align="center" style="width: 30%; border-bottom: 0; border-left: 0;"><%= invoice.totalAmount %> SAR</td>
                                <td align="center" style="width: 70%; border-bottom: 0; border-right: 0;  ">:إجمالي المبلغ المطلوب<br>Total Payable:</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </table>
                </div>
              </td>
            </tr>
            <tr style="page-break-inside:avoid;">
              <td class="px-0">
                <div style="page-break-inside: avoid;">
                  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                    <td width="45%">
                      <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                        <tr class="table-header">
                          <td align="center" colspan="3">:معالجة الضريبة<br>Special Tax Treatment:</td>
                        </tr>
                        <tr class="sub-header">
                          <td align="center">:معدل الضريبة<br>Tax Rate:</td>
                          <td align="center" colspan="2">:اسم المنتج<br>Item Name:</td>
                        </tr>
                        <% invoice.specialLineItems.forEach(function(item){ %>
                          <tr>
                            <td align="center"><%= item.taxRate %>%</td>
                            <td align="center" colspan="2"><%= item.name %></td>
                          </tr>
                        <% }); %>
                      </table>
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="50%" style="vertical-align: top">
                      <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                        <tr class="table-header">
                          <td align="center" colspan="3">:اشعار دائن/مدين<br>Credit/Debit Notes:</td>
                        </tr>
                        <tr class="sub-header">
                          <td align="center">:ملاحضات إضافية<br>Additional Notes:</td>
                          <td align="center">:حالة الطلب<br>Order Status:</td>
                          <td align="center">:رقم الفاتورة الأساسي<br>Orignal Invoice ID:</td>
                        </tr>
                        <%invoice.creditNotes.forEach(function(item){ %>
                          <tr>
                            <td align="center"><%= item.issueDate %></td>
                            <td align="center"><%= item.orderStatus %></td>
                            <td align="center"><%= item.invoiceNumber %></td>
                          </tr>
                        <% }); %>
                      </table>
                    </td>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div style='display:none'><img src='https://prod-retailo-images.s3.me-south-1.amazonaws.com/invoice-footer.png' /></div>
  </body>
</html>